.searchBar {
  position: relative;
  height: 35px;
  margin-left: 5px;
}
.banner {
  border: 1px solid blue;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  background: rgba(16, 76, 132, 1);
}
.logoandsearch {
  display: grid;
  grid-template-columns: 150px 1fr;
}
.bannerIcons {
  overflow: hidden;
  width: 80px;
  height: 35px;
  position: relative;
  top: 18px;
  cursor: pointer;
}
.searchBar {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  height: 39px;
}
.searchButton {
  position: relative;
  height: 41px;
  width: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
.dropDown {
  width: 431;
  height: 300px;
  border-radius: 1.5px;
}
.userLinks {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px;
  grid-gap: 5px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}
.searchBarAndButton {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
/* mobile hamburger icon*/
.toggle_button:focus {
  outline: none;
}
.toggle_button_line {
  width: 30px;
  height: 1px;
  background: rgba(223, 227, 238);
}
.toggle_button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  padding: 0;
  box-sizing: border-box;
  right: 5px;
  top: 22px;
}
.sideDrawer {
  background-color: white;
  position: fixed;
  top: 72px;
  width: 100vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/*===============================*/
@media screen and (max-width: 780px) {
  .emptyDiv {
    display: none;
  }
  .logoandsearch {
    grid-template-columns: 100px 1fr;
  }
  .searchBar {
    max-width: 140px;
  }
}
@media screen and (max-width: 630px) {
  .searchBar {
    max-width: 100px;
  }
  .searchButton {
    max-width: 30px;
  }
}
@media screen and (max-width: 570px) {
  .userLinks {
    display: none;
  }
  .banner {
    grid-template-columns: 100px 200px 1fr;
  }
  .searchBarAndButton {
    width: 200px;
  }
  .toggle_button {
    display: flex;
  }
}
@media screen and (max-width: 280px) {
  .searchBar {
    width: 50px;
  }
}
@media screen and (max-width: 230px) {
  .searchBarAndButton {
    display: none;
  }
}
@media screen and (max-width: 112px) {
  .logoandsearch {
    display: none;
  }
}
