body {
  background: rgba(242, 246, 248, 1);
  background: -moz-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 2%,
    rgba(181, 198, 208, 1) 98%,
    rgba(224, 239, 249, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(242, 246, 248, 1)),
    color-stop(2%, rgba(216, 225, 231, 1)),
    color-stop(98%, rgba(181, 198, 208, 1)),
    color-stop(100%, rgba(224, 239, 249, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 2%,
    rgba(181, 198, 208, 1) 98%,
    rgba(224, 239, 249, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 2%,
    rgba(181, 198, 208, 1) 98%,
    rgba(224, 239, 249, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 2%,
    rgba(181, 198, 208, 1) 98%,
    rgba(224, 239, 249, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 2%,
    rgba(181, 198, 208, 1) 98%,
    rgba(224, 239, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
}
.newUserForm {
  position: absolute;
  top: 40%;
  left: 50%;
  overflow: hidden;
  display: grid;
  grid-template-areas: 200px 200px;
  border: solid 1px blue;
  width: 49%;
  margin: 0 0 0 -25%;
  height: 210px;
  margin-bottom: 20px;
  text-align: center;
  z-index: 100;
  background-color: white;
}
.newUserFormHeader3 {
  margin-top: -10px;
  pointer-events: none;
}
.newUserFormHeader1 {
  pointer-events: none;
}
.firstNameField,
.emailField {
  margin-right: 1px;
  border: 1px solid black;
}
.lastNameField,
.passwordField {
  margin-left: 1px;
  border: 1px solid black;
}
.emailPass,
.name {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  margin-bottom: 10px;
  grid-gap: 10px;
}
.errorSpan {
  text-align: center;
  color: red;
  font-size: 0.5em;
}
.existingUserForm {
  border: 1px solid blue;
  z-index: 100;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 100px 100px 100px;
  background: rgba(16, 76, 132, 1);
  background: -moz-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(16, 76, 132, 1)),
    color-stop(70%, rgba(13, 58, 110, 1)),
    color-stop(84%, rgba(13, 58, 110, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: -o-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: -ms-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: linear-gradient(
    to right,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#104c84', endColorstr='#0d3a6e', GradientType=1 );
}

.userName {
  position: relative;
  height: 40px;
  top: 15px;
  margin-left: 5px;
  /*
  position: relative;
  top: 20px;
  width: 12%;
  height: 35%;
  margin-left: -120px;*/
}
.userPassword {
  position: relative;
  height: 40px;
  top: 15px;
  margin-left: 5px;

  /*
  position: relative;
  top: 20px;
  width: 12%;
  height: 35%;
  margin-left: 100px;*/
}
.signIn {
  position: relative;
  height: 40px;
  top: 16px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: rgba(16, 76, 132, 1);
  color: white;
  border: 1px solid black;
  cursor: pointer;
  /*
  position: absolute;
  height: 27px;
  top: 25px;
  margin-left: 245px;
  background-color: rgba(16, 76, 132, 1);
  color: white;
  border: 1px solid black;*/
}
.newUserFormSubmit {
  cursor: pointer;
  background: rgba(16, 76, 132, 1);
  background: -moz-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(16, 76, 132, 1)),
    color-stop(70%, rgba(13, 58, 110, 1)),
    color-stop(84%, rgba(13, 58, 110, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: -o-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: -ms-linear-gradient(
    left,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  background: linear-gradient(
    to right,
    rgba(16, 76, 132, 1) 0%,
    rgba(13, 58, 110, 1) 70%,
    rgba(13, 58, 110, 1) 84%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#104c84', endColorstr='#0d3a6e', GradientType=1 );

  border: none;
  color: white;
}

.existingUserFormHeader {
  position: relative;
  font-size: 150%;
  margin-left: 5px;
  color: white;
  cursor: pointer;
}
.logo {
  height: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  .existingUserFormHeader {
    display: none;
  }
  .signIn {
    margin-left: 15px;
    width: 80px;
    top: 18px;
  }
  .userName {
    width: 90px;
  }
  .userPassword {
    width: 90px;
  }
  .name,
  .emailPass {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 23px;
  }
  .firstNameField,
  .lastNameField,
  .emailField,
  .passwordField {
    width: 100px;
  }
  .newUserFormHeader1 {
    margin-left: -40px;
    font-size: 110%;
  }
  .newUserFormHeader3 {
    margin-left: -40px;
  }
  .newUserForm {
    left: 20%;
    width: 65%;
    height: 220px;
    margin: auto 0;
    overflow: hidden;
  }
}
/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}
