.editprofileelipse {
  width: 3px;
  margin-top: 26px;
  height: 3px;
  border-radius: 50%;
  margin-left: 2px;
  background-color: black;
}
.userDetails {
  display: flex;
  flex-direction: column;
  max-width: 130px;
}
@media screen and (max-width: 610px) {
  .userdetails {
    display: none;
  }
}
